* {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 7rem;

}

.box-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 0.5em;
}

.box-content:hover .overlay{
	background: transparent;
}

.link-box {
	text-align: left;
	text-decoration: none;
	text-transform: lowercase;
	letter-spacing: 0.1rem;
	font-size: 1rem;
	font-weight: bolder;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-end;
	height: 100%;
}

.box {
	height: 213px;
	width: 285px;
	overflow: hidden;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.box1 {
	overflow: hidden;
	grid-row: 1/3;
	grid-column: 1/3;
	background: url("https://thumb.guucdn.net/600x450/images.guucdn.net/full/2019/06/15/17759a5010fdc6ae90dd16ef56e7e303a2ec34ee.jpg");
}

.box2 {
	background: url("https://thumb.guucdn.net/400x300/images.guucdn.net/full/2019/06/15/b1a4bbad0f67fb4508b1565b4982bb1fccd4d08b.jpg");
}

.box3 {
	background: url("https://thumb.guucdn.net/400x300/images.guucdn.net/full/2019/06/15/4680d83502f3be74ba7420d7367431f067d287a5.jpg");
}

.box4 {
	background: url(https://thumb.guucdn.net/400x300/images.guucdn.net/full/2019/06/15/d92b2024c2b933b6a79cf6de5bf0ee1471a6fd1a.jpg);
}

.box5 {
	background: url(https://thumb.guucdn.net/400x300/images.guucdn.net/full/2019/06/15/33b674f03e1c40d35cb4b533013513be6c812180.png);
}

.box6 {
	background: url(https://thumb.guucdn.net/400x300/images.guucdn.net/full/2019/06/15/b38490a5ca92b56bb65be6e8087ae86388773b0c.jpg);
}

.box7 {
	background: url(https://thumb.guucdn.net/400x300/images.guucdn.net/full/2019/06/15/d84c36cb3642339a26e93a5e487f8dbe654b6a78.jpg);
}

.box8 {
	background: url(https://thumb.guucdn.net/400x300/images.guucdn.net/full/2019/06/14/c078ad6bbc47920cebd52d18c0648ed9eee90f37.jpg);
}

.box9 {
	background: url(https://thumb.guucdn.net/400x300/image-tmp.guu.vn/full/2019/06/14/c77f0d80d883ba2ce44938cb4f818ae95d1ef467.jpg);
}

.overlay {
	display: flex;
	height: 30%;
	width: 100%;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
}

.info {
	margin: 1rem;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}